
{% extends 'erp/base.html' %} {% block main_content %}

<a href="{% url 'warehouse_modules' %}" class="module_button">
    <p>Warehouse stock status</p></a>
<a href="{% url 'sales_modules' %}" class="module_button">
    <p>Sell products</p></a>
{% endblock %}


{% block sidebar_content %}
<div class="sidebar_card" style="height: 50%;">
    <p>Daily sales statistics</p>
    <p class="subtext">Quantity of sold products: </p>
    <p class="subtext">The most demanding product: </p>
    <p class="subtext">Today's revenue: </p>
    <div class="charts" style="height: 40%;"></div>
    <p class="subtext">Results of todays sales (per hour)</p>
</div>
<div class="sidebar_card">
    <p>Week</p>
    <div class="charts"></div>
    <p class="subtext">Results of weekly sales (per day)</p>
</div>
<div class="sidebar_card">
    <p>Month</p>
    <div class="charts"></div>
    <p class="subtext">Results of monthly sales (per week)</p>

</div>
{% endblock %}
        