
{% extends 'erp/base.html' %} {% block main_content %}

<a href="{% url 'warehouse_modules' %}" class="module_button">
    <p>Warehouse stock status</p></a>
<a href="{% url 'sales_modules' %}" class="module_button">
    <p>Sell products</p></a>
<a href="{% url 'add_items_modules' %}" class="module_button">
    <p>Manage products</p></a>    
{% endblock %}


{% block sidebar_content %}
<div class="sidebar_card" style="height: 50%;">
    <p class="sidebar_title">Current balance</p>
    <div class="account_balance">
        <p class="account_balance_value">{{ balance.account_balance }}</p>
        <p class="account_balance_value_currency">zł.</p>
    </div>
</div>
{% endblock %}
        