{% extends 'erp/base.html' %}

{% block main_content %}
{% csrf_token %}
<div class="add_new_product_container">
    <div class="add_new_product_container_header_wrapper">
        <a class="add_new_product_container_header add_new_product_option" style="opacity: 0.5;" href="{% url 'add_items_modules' %}">Add product</a>
        <a class="add_new_product_container_header remove_new_product_option"  href="{% url 'remove_items_modules' %}">Remove product</a>
    </div>
    <div class="add_new_product_window">
        <div class="add_new_product_window_product_name" >
            <label for="product_name">
            <p>Product name</p>
            <input type="text" name="product" id="product_name">
        </label>
        </div>
        <div class="add_new_product_window_product_code_sku">
            <label for="product_code_sku">
            <p>Product Code (SKU)</p>
            <input type="text" name="product" id="product_code_sku">
        </label>
        </div>
        <div class="add_new_product_window_product_price" >
            <label for="product_price">
            <p>Product price</p>
            <input type="number" step="0.01" name="product" id="product_price">
        </label>
        </div>
        <div class="add_new_product_window_product_stock_qty">
            <label for="product_stock_qty">
            <p>Product quantity</p>
            <input type="number" name="product" id="product_stock_qty">
        </label>
        </div>
        <div class="add_new_product_window_product_ean">
            <label for="product_ean">
            <p>EAN Code</p>
            <input type="number" name="product" id="product_ean">
        </label>
        </div>
        
    </div>
    <div class=" product_card_contener product_card_add_product_search_container ">
        {% for product in warehouse_products %}
    <div class="product_card_add_product_search">
        <div class="sorting_table sorting_table_add_product_search">
            <p>Product name</p><p>Product code (SKU)</p><p>Price (netto)</p><p>Availability</p><p style="border: none;">EAN code</p>
        </div>
        <div class="product_card">
        <p class="product_name">{{ product.product_name }}</p>
        <p class="product_codename">{{ product.product_code_sku }}</p>
        <p class="product_price">{{ product.product_price }}</p>
        <p class="product_qty">{{ product.product_stock_qty }}</p>
        <p style="border: none;" class="product_ean">{{ product.product_ean }}</p>
        </div>
        <button type="button" class="chose_existing_one_btn">
            <p>Choose existing one</p>
        </button>
    </div>
    
    {% endfor %}
    </div>
    
</div>

{% endblock %}

{% block sidebar_content %}

<div class="sidebar_card">
    <p class="sidebar_title">Manage products</p>
    <div class="basket_summary">
        <p class="sidebar_title">Products to add</p>
        <div class="table_breaker_light"></div>
        <div class="basket_products_list add_product_list"></div>
        <div class="table_breaker_light"></div>
        <div class="total_window">
            <div class="product_card_add_product_save_changes">
                <button class="product_card_add_product_save_changes_btn"><p>Migrate to warehouse</p></button>
            </div>
        </div>

    </div>
</div>
{% endblock %}


