{% extends 'erp/base.html' %}
{% block main_content %}
{% csrf_token %}
<!-- {% csrf_token %} jest potrzebne dla Django, aby wykonać metody POST, PUT i DELETE. Zamieszczenie takiego tokena to takie zabezpieczenie -->
<div class="basket_summary_container">
    <p class="basket_summary_header">Basket summary</p>
    <div class="basket_summary"></div>
</div>

{% endblock %}

{% block sidebar_content %}
<div class="sidebar_card">
    <p class="sidebar_title">Order finalisation</p>
    <div class="table_breaker_light"></div>
    
    <div class="payment_section" >
        <p class="subtext">Choose payment method</p>
        
        <div class="payment_selection_choice">
            <label for="card"><p>Card</p></label>
            <input type="radio" name="payment_method" id="card" value="card">
        </div>
        <div class="payment_selection_choice">
            <label for="cash" class="subtext"><p>Cash</p></label>
            <input type="radio" name="payment_method" id="cash" checked value="cash">
        </div>
    </div>

    <div class="total_window">
        <div class="table_breaker_light"></div>
        <p class="total_amount" id="checkout_total_text">total: 0.00zł</p>
        
        <button id="final_pay_btn" >
            <p>Accept payment and finalise transaction </p>
        </button>
    </div>
</div>


<!-- Skrypt odpowiadający za wyświetlanie koszyka-->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const savedBasketText = localStorage.getItem('active_basket');
    // Tutaj przechwytuje zapisany koszyk z poprzedniej karty, który zapisałem w localeStorage

    // Zamieniam tekst przekazany z poprzedniem karty na obiekt JSON, aby móc po nim iterować
    const basket = JSON.parse(savedBasketText);
    const total_amount = document.querySelector(".total_amount")
    let total_amount_value = 0
    // Iteruje przez obiekt basket i dla każdego elementu tworzę okno produktu dodanego do koszyka
    Object.values(basket).forEach(product => {
        // produkty będą dodawane do pustego diva na górze basket_item_list
        const basket_summary = document.querySelector(".basket_summary")
        // render diva, dodanie do niego dane o produkcie z koszyka
        const productWindow = document.createElement("div");
        productWindow.className = "add_product_window";
        productWindow.innerHTML = `
        <div class="add_product_item_name">
            <p>${product["name"]}</p>
        </div>

        <div class ="add_product_item_qty">
            <p>${product["qty"]}Qty.</p>
        </div>

        <div class="add_product_item_price">
            <p class="price_amount">${product["price"].toFixed(2)}zł</p>
        </div>
        <div class="table_breaker_light"></div>
        `
        total_amount_value += parseFloat(product["price"].toFixed(2))
        basket_summary.appendChild(productWindow)
        total_amount.innerHTML = parseFloat(total_amount_value).toFixed(2)
    });
});


// Obsługa przycisku finalise, zdejmuje ze stanu produkty i dodaje do salda kwotę transakcji
const total_amount = document.querySelector(".total_amount")
document.getElementById('final_pay_btn').addEventListener('click', function() {
    const savedBasketText = localStorage.getItem('active_basket');
    // pobieram dane z koszyka z localStorage
    // pobieram token dla Django, a dokładnie element {% csrf_token %}
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Zamieniam koszyk na obiekt
    const basket = JSON.parse(savedBasketText);
    
    //Pobieram opcje płatności jaką zaznaczył user
    const selectedPayment = document.querySelector('input[name="payment_method"]:checked').value;
    let total_amount_value = total_amount.textContent
    total_amount_value = parseFloat(total_amount_value).toFixed(2)

    // Wysyłamy do Django dane, które pobraliśmy
    fetch("/finalize_transaction/", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            basket: basket,
            payment_method: selectedPayment,
            total_amount: total_amount_value
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.info("SUCCESS");
            localStorage.removeItem('active_basket'); 
            // Czyścimy koszyk, żeby po transakcji się nie zapisywał
            window.location.href = '/';
            // lecimy na stronę główną jak się uda wszystko
        } else {
            console.error("Error:" + data.message);
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
});
</script>
{% endblock %}

